.material-icons {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.my-icon {
  flex-shrink: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.btn-icon {
  flex-shrink: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 24px;
}
