.table-transactions {
  .table__column-date {
    width: 50%;
  }

  .table__column-type {
    width: 40%;
  }

  .table__column-description {
    .table__cell {
      font-size: 14px;
    }

    .table__cell-head {
      font-size: 16px;
    }
  }

  .description-cell {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &__dates {
      color: var(--text-gray);
    }
  }

  .table__column-action {
    width: 45%;

    .table-link {
      font-weight: 600;
    }
  }
}

@media (max-width: 1440px) {
  .table-transactions {
    .table__cell {
      height: 64px;
    }
  }

  .table-transactions .table__column-date {
    width: 40%;
  }
}

@media (max-width: 1280px) {
  .table-transactions {
    .table__cell {
      height: 72px;
    }
  }
}

@media (max-width: 1024px) {
  .table-transactions {
    .table__cell {
      height: 64px;
    }
  }
}

@media (max-width: 800px) {
  .table-transactions .table-profile__id {
    display: none;
  }

  .table-transactions .table__column-date {
    width: 55%;
  }

  .table-transactions .table__column-profile {
    width: 55%;
  }
}

@media (max-width: 640px) {
  .table-transactions {
    overflow-x: auto;
    white-space: nowrap;
  }

  .table-transactions .table__column-description {
    width: 80%;
  }

  .table-transactions .table__column-profile {
    width: 60%;
  }

  .table-transactions {
    .table__column-description .table__cell {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    .table__column-description .table__cell-head {
      flex-direction: row !important;
      justify-content: center;
      align-items: center;
    }

    .table__column-description .table__cell .view-mob {
      display: inline-block;
      font-weight: 700;
    }
  }

  .table-transactions .table__cell {
    height: 48px;
  }

  .table-transactions .table__column-date {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .table-transactions .table__column-description .table__cell {
    word-wrap: break-word;
  }
}
